<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container">
          <img src="images/logo.png" />
        </div>
        <select name="genre" id="genre-select" v-model="filter">
          <option selcted value="">All</option>
          <option v-for="(genre, index) in genres" :value="genre">
            {{genre}}
          </option>
        </select>
      </header>
      <main class="container">
        <section id="album-container">
          <div
            class="card"
            v-for="album in albums"
            v-if="album.genre.includes(filter)"
          >
            <img :src="album.poster" alt="New Jersey" />
            <h2 class="title">{{album.title}}</h2>
            <address class="author">{{album.author}}</address>
            <time datetime="1988" class="year">{{album.year}}</time>
          </div>
        </section>
      </main>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
